:root {
	--accent-color: #4285f4;
	--accent-color-dark: #2467D6;

	--text-color: rgba(255, 255, 255, .7);
	--secondary-text-color: rgba(255, 255, 255, .7);

	--peer-color: rgba(24, 29, 36, .25);
	--odd-color: rgba(14, 19, 26, .25);
	--peer-color-hover: rgba(24, 29, 36, .75);
	--odd-color-hover: rgba(24, 29, 36, .75);

	--shadow-black-50-color: rgba(0,0,0,.5);
	--shadow-black-30-color: rgba(0,0,0,.3);

	--nav-background-color: #131313;
	--background-white-color: #131313;

	--code-quote-text-background-color: rgba(255,255,255,.1);

	--blockquote-bar-color: #666666;

	--scrollbar-track-color: #0E0E0E;
	--scrollbar-thumb-color: #3E3E3E;
	--scrollbar-thumb-hover-color: #575757;
}

/* Classic url colors are weird in dark mode */
a, a:hover {
  color: #3E9BF5;
}
a:visited {
  color: #3E9BF5;
}

#nav-img {
  background-image: url(../images/nav_image_logo.png), url(../images/bg_dark.png);
}