:root {
	--faithful-brand: #76c945;
	--secondary-brand: #00a2ff;
	--vp-c-brand-1: var(--faithful-brand);
	--vp-c-brand-2: #22a831;
	/* light is treated as "default" */
	--vp-c-brand-soft: #efffe6;
}

.dark {
	--vp-c-brand-soft: #2d4022;
}

.center {
	text-align: center !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* colored text */
.red-text {
	color: #f44336;
}

.green-text {
	color: #4caf50;
}

/* lists */
.lettered {
	list-style-type: lower-alpha;
}

.roman {
	list-style-type: upper-roman;
}
