:root {
    --line-color: #444950;
	--text-color: #c9d1d9;
	--secondary-text-color: #c9d1d9;

	--background-white-color: #313338;


	--nav-background-color: #2B2D31;
	--nav-panel-color: var(--nav-background-color);
	--nav-text-color: var(--text-color);

	--header-border-color: rgba(0,0,0,0.3);

	--code-quote-text-background-color: rgba(255,255,255,.1);

	--scrollbar-track-color: #0E0E0E;
	--scrollbar-thumb-color: #3E3E3E;
	--scrollbar-thumb-hover-color: #575757;
}

header h1 {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
}