:root {
	--text-color: #212529;
	--secondary-text-color: #212529;

	--nav-background-color: #EEE;
	--background-white-color: #fff;

	--code-quote-text-background-color: rgba(255,255,255,.1);

	--scrollbar-track-color: #F1F1F1;
	--scrollbar-thumb-color: #C1C1C1;
	--scrollbar-thumb-hover-color: #A8A8A8;
}

#nav-img {
  background-image: url(/images/nav_image_logo.png), url(/images/bg_light.png);
}