<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Compliance Pack Docs - {{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.min.css" />
  <meta name="theme-color" content="#fff">
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
  <meta name="description" content="The official site with documentation and guides related to the pack" />
  <meta property="og:image" content="{{ site.baseurl }}/preview.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <button id="menuBtn" class="header-button" type="button" onclick="openMenu()">Men&uuml;</button>
    <h1 class="small-display">Docs</h1>
    <h1 class="big-display">Compliance Pack Docs</h1>
  </header>
  <div id="nav-bg"></div>
  <nav>
    <div id="nav-img">Logo</div>
    <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
    {% assign sorted_pages = site.pages | sort:"title" %}
    {% for page in sorted_pages %}
      {% unless page.url contains "assets/css/style.css" or page.title == "Home" %}<a class="nav-link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>{% endunless %}
    {% endfor %}
  </nav>
  <main>

{{ content }}

  </main>
  <script src="{{ site.baseurl }}/js/header.min.js" async></script>
</body>
</html>
