<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Faithful Pack Docs - {{ page.title }}</title>
	<meta name="theme-color" content="#76C945">
	<link rel="icon" href="https://database.faithfulpack.net/images/branding/site/favicon.ico">
	<meta name="description" content="The official site with documentation and guides related to Faithful." />
	<meta property="og:image" content="https://database.faithfulpack.net/images/branding/site/banners/universal_banner.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/dark.css" id="darkcss" />
</head>
<body>
	<header>
		<button id="menuBtn" class="header-button" type="button" onclick="openMenu()">Menu</button>
		<h1 class="small-display"><span class="height"></span><img src="https://database.faithfulpack.net/images/branding/site/favicon.ico" alt="F" /><span>DOCS</span></h1>
		<h1 class="big-display"><span class="height"></span><span>FAITHFUL PACK DOCS</span></h1>
	</header>
	<div id="nav-swipe"></div>
	<div id="nav-bg"></div>
	<nav>
		<div id="nav-img">Logo</div>
		<button id="DarkMode" onclick="changeMod(true)" class="nav-link auto" style="height: 36px;">THEME: AUTO</button>
		{%- unless page.title == "Home" -%}
			<a class="nav-link home" style="height: 36px; line-height: 36px;" href="{{ site.baseurl }}/">HOME</a>
		{%- endunless -%}

		{%- assign sorted_pages = site.pages | sort: "type" -%}
		{%- assign items = "CompliBot, Docs, Dungeons, Modpacks, Mods, Textures" | split: ", " -%}
		{%- assign type = "peer" -%}
	
		{%- for item in items -%}
			<button class="collapsible">{{ item | upcase}}</button>
			<div class="content">
				{%- for page in sorted_pages -%}
					{%- unless page.title == "Home" -%}
						{%- if page.type == item -%}
							<a class="nav-link {{ type }}" href='{{ site.baseurl }}{{ page.url | remove: ".html"}}'>
								{{ page.title }}<br>
								<span class="new-badge keepTag" data-date="{{ page.date }}" style="margin-right: 5px;">NEW</span>
								{%- if page.deprecated -%}<span class="deprecated-badge">DEPRECATED</span>{%- endif -%}
							</a>
							{%- if type == "peer" -%}
								{%- assign type = "odd" -%}
							{%- else -%}
								{%- assign type = "peer" -%}
							{%- endif -%}
						{%- endif -%}
					{%- endunless -%}
				{%- endfor -%}
				{%- assign type = "peer" -%}
			</div>
		{%- endfor -%}

	</nav>
	<main>
		{{ content }}
	</main>
	<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js" integrity="sha256-eVNjHw5UeU0jUqPPpZHAkU1z4U+QFBBY488WvueTm88=" crossorigin="anonymous"></script>
	<script src="{{ site.baseurl }}/js/header.js" async></script>
	<script src="{{ site.baseurl }}/js/darktheme.js" async></script>
	<script src="{{ site.baseurl }}/js/collapse.js" async></script>
	<script src="{{ site.baseurl }}/js/keepTag.js"></script>
</body>
</html>
