name: Deploy Docs

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Executing remote command
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VPS_HOST_IP }}
        PORT: ${{ secrets.VPS_PORT }}
        USERNAME: ${{ secrets.VPS_USERNAME }}
        KEY: ${{ secrets.VPS_SSH_KEY }}
        script: |
          cd /var/www/html/docs.faithfulpack.net/
          git stash
          git pull
          pnpm install
          pnpm build

